* {
    margin: 0;
    padding: 0;
}

.sign_div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    text-align: center;
    align-items: center;
}

.sign_div input {
    width: 28rem;
    height: 2.5rem;
    margin: 0.5rem;
    font-size: 20px;
    padding-left: 30px;
    border-radius: 5px;
    border-color: #1aa3c6;
}

.logo_div {
    display: block;
    text-align: center;
}

.logo {
    width: 18%;
    margin-top: 10px;
}

.sign_btn {
    width: 30rem;
    height: 2.5rem;
    margin: 1rem;
    font-size: 20px;
    padding-left: 30px;
    background-color: #1aa3c6;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.git {
    width: 30rem;
    height: 2.5rem;
    margin: 0.5rem;
    font-size: 20px;
    padding-left: 30px;
    /* background-color: #1aa3c6; */
    color: black;
    border-radius: 5px;
    border: none;
}

.google {
    width: 30rem;
    height: 2.5rem;
    margin: 0.5rem;
    font-size: 20px;
    padding-left: 30px;
    /* background-color: #1aa3c6; */
    color: black;
    border-radius: 5px;
    border: none;
}
.have_ac{
    font-weight: 500;
}